node-red/flow.js
[{"id":"c8b21e64.fd435","type":"function","z":"50017718.e96448","name":"最も正確度が高い結果を抽出","func":"var jsonObj = msg.result;\nvar result_list = new Array();\nfor(var i = 0; i < jsonObj.images.length; )\n{\n    var cf = jsonObj.images.pop();\n    for(var j = 0; j < cf.classifiers.length; )\n    {\n        var cls = cf.classifiers.pop();\n        for(var k = 0; k < cls.classes.length; )\n        {\n            item = cls.classes.pop();\n            console.log(item);\n            var result = new Object();\n            result.name = item.class;\n            result.score = item.score;\n            result_list.push(result);\n        }\n    }\n}\nresult_list.sort(function(a,b){\n    if(a.score > b.score) return -1;\n    if(a.score < b.score) return 1;\n    return 0;\n});\nmsg.payload = result_list[0];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["3430d07e.3d58b","bb80d167.011f1"]]},{"id":"3430d07e.3d58b","type":"debug","z":"50017718.e96448","name":"識別結果","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":676.0000305175781,"y":355.99999809265137,"wires":[]},{"id":"b7d1c698.fe1d38","type":"function","z":"50017718.e96448","name":"From URL","func":"msg.payload = \"http://file.194.janken-pon.net/6c832057.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":419.99999618530273,"y":153,"wires":[["8c65df0d.af35"]]},{"id":"d8b9665c.11ace8","type":"inject","z":"50017718.e96448","name":"URL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":202.59996795654297,"y":150.99999332427979,"wires":[["b7d1c698.fe1d38"]]},{"id":"8c65df0d.af35","type":"function","z":"50017718.e96448","name":"Set parameters","func":"msg.hedears={\"content-type\":\"image/png\"};\nmsg.params={\"classifier_ids\":[\"RockPaperScissors_1768505145\"],\"threshold\":0.01};\nreturn msg;","outputs":1,"noerr":0,"x":671.6000785827637,"y":179.99999332427979,"wires":[["d484a9c1.d0b318"]]},{"id":"f1a79b7d.e4ef08","type":"exec","z":"50017718.e96448","command":"cp /home/pi/.node-red/public/images/rock.png /home/pi/.node-red/public/images/result.png","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"勝てる手グー","x":432.59997177124023,"y":526.5000076293945,"wires":[[],[],[]]},{"id":"2d73182d.7dccb8","type":"exec","z":"50017718.e96448","command":"cp /home/pi/.node-red/public/images/scissors.png /home/pi/.node-red/public/images/result.png","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"勝てる手チョキ","x":429.5,"y":585.0000534057617,"wires":[[],[],[]]},{"id":"504953cb.088bec","type":"exec","z":"50017718.e96448","command":"cp /home/pi/.node-red/public/images/paper.png /home/pi/.node-red/public/images/result.png","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"勝てる手パー","x":429.49999237060547,"y":645.0000114440918,"wires":[[],[],[]]},{"id":"bb80d167.011f1","type":"switch","z":"50017718.e96448","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"scissors","vt":"str"},{"t":"eq","v":"paper","vt":"str"},{"t":"eq","v":"rock","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":184.5999755859375,"y":583.0000038146973,"wires":[["f1a79b7d.e4ef08"],["2d73182d.7dccb8"],["504953cb.088bec"]]},{"id":"b558c658.e27098","type":"debug","z":"50017718.e96448","name":"Watsonの解析結果","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":435.0000190734863,"y":339.00002098083496,"wires":[]},{"id":"2baf786f.f376c8","type":"http in","z":"50017718.e96448","name":"camera","url":"camera","method":"post","upload":true,"swaggerDoc":"","x":128.60007858276367,"y":223.00002670288086,"wires":[["43c80424.8d0d0c","203e000c.2f81d"]]},{"id":"43c80424.8d0d0c","type":"http response","z":"50017718.e96448","name":"","statusCode":"","headers":{},"x":160.60008239746094,"y":285.0000524520874,"wires":[]},{"id":"203e000c.2f81d","type":"function","z":"50017718.e96448","name":"Extract image","func":"msg.payload = msg.req.files[0].buffer\nreturn msg;","outputs":1,"noerr":0,"x":416.6000442504883,"y":221.99999952316284,"wires":[["8c65df0d.af35"]]},{"id":"d484a9c1.d0b318","type":"visual-recognition-v3","z":"50017718.e96448","name":"じゃんけん認識","apikey":"bbe19e2884ee8607f73ed07cb79643a5521e0e4e","image-feature":"classifyImage","lang":"en","x":217,"y":375,"wires":[["c8b21e64.fd435","b558c658.e27098"]]},{"id":"abe1bc41.9aa4c","type":"inject","z":"50017718.e96448","name":"start camera","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["66e1c137.8fc8d"]]},{"id":"66e1c137.8fc8d","type":"exec","z":"50017718.e96448","command":"python /home/pi/work/RockPaperScissors/script/periodic_camera.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"camera script","x":420,"y":60,"wires":[[],[],[]]}]
